aliClusterConfig:
  addons:
  - name: terway-eniip
  alibabaCredentialSecret: null
  clusterName: ""
  ClusterSpec: ack.pro.small
  clusterType: ManagedKubernetes
  endpointPublicAccess: true
  imported: true
  kubernetesVersion: ""
  nodePools:
  - dataDisks:
    - category: cloud_essd
      encrypted: "false"
      size: 40
    desiredSize: 2
    imageId: aliyun_3_x64_20G_alibase_20241218.vhd
    imageType: AliyunLinux3
    instanceTypes:
    - ecs.c7.xlarge
    - ecs.c7a.xlarge
    name: hosted-np1
    runtime: containerd
    runtimeVersion: 1.6.38
    systemDiskCategory: cloud_essd
    systemDiskSize: 20
  podVswitchIds:
  - vsw-gw8u79meukfaoe3ij9fkq
  - vsw-gw8tfbam298wsyqwdrj5a
  proxyMode: ipvs
  regionID: eu-central-1
  serviceCIDR: 192.168.0.0/16
  snatEntry: true
  vpcId: vpc-gw8bisrux1tekmkohy4wz
  vswitchIds:
  - vsw-gw8u79meukfaoe3ij9fkq
  - vsw-gw8tfbam298wsyqwdrj5a
aksClusterConfig:
  imported: true
  nodePools:
  - availabilityZones:
    - "1"
    - "2"
    - "3"
    count: 1
    enableAutoScaling: false
    maxPods: 110
    mode: System
    name: agentpool
    osDiskSizeGB: 128
    osDiskType: Managed
    osType: Linux
    vmSize: Standard_DS2_v2
  resourceGroup: ""
  resourceLocation: centralindia
awsCredentials:
azureCredentials:
  environment: AzurePublicCloud
eksClusterConfig:
  imported: true
  nodeGroups:
  - desiredSize: 1
    diskSize: 20
    ec2SshKey: ""
    gpu: false
    imageId: ""
    instanceType: t3.large
    labels: {}
    maxSize: 1
    minSize: 1
    nodeRole: ""
    nodegroupName: test1
    requestSpotInstances: false
    resourceTags: {}
    spotInstanceTypes: []
    subnets: []
    tags: {}
    userData: ""
  region: ap-south-1
gkeClusterConfig:
  projectID: <project>
  zone: asia-south2-c
  imported: true
  nodePools:
  - autoscaling: {}
    config:
      diskSizeGb: 100
      diskType: pd-standard
      imageType: COS_CONTAINERD
      machineType: n1-standard-2
      oauthScopes:
      - https://www.googleapis.com/auth/devstorage.read_only
      - https://www.googleapis.com/auth/logging.write
      - https://www.googleapis.com/auth/monitoring
      - https://www.googleapis.com/auth/servicecontrol
      - https://www.googleapis.com/auth/service.management.readonly
      - https://www.googleapis.com/auth/trace.append
    initialNodeCount: 1
    management:
      autoRepair: true
      autoUpgrade: true
    maxPodsConstraint: 110
    version: 1.27.3-gke.100
googleCredentials:
rancher:
  cleanup: false
  insecure: true
